@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background: white;
  
  margin-left:150px;
  margin-right:150px;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
    list-style-type: none;
  }



.navbar {
  font-size:15px;
  background: white;
  color: black;
  height: 150px;
  margin-right:-10px;
  margin-left:-10px;
}

.navbar .logo {
  font-size:25px;
  font-weight: bold;
}

.navbar a {
  color: rgb(128, 113, 113);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 60px;
}

.header {
  background-color: white;
  color: black;
  margin-top:50px;
  min-height: 400px;
}

.header h1 {
  margin-top:80px;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}

.header p{
    margin-top:20px;
    font-size:1.2rem;
    line-height:1.5;
}
.header img {
    margin-left:0px;
    margin-right:100px;
    height:350px;
    width:350px;

}

.boxes h1{
  text-align:left;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
    flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.box {
  
  flex: 1;
  background: white;
  color: black;
  border-radius: 10px;
  
  margin: 30px 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.box1a img{
  width:300px;
  height:300px;
}

.box1b img{
  width:350px;
  height:300px;
}

.box1c img{
  width:300px;
  height:300px;
}

.box1a{
  float:left;
  width:33.3%;
  text-align:left;
}

.box1b{
  float:left;
  width:33.3%;
  text-align:left;
}

.box1c{
  float:right;
  width:33.3%;
  text-align:left;
}

.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}

.hamburger-icon{
    height: 10px;
    width:10px;
}

.populartemplates{
    margin-left:15px;
    text-align:left;
}

.getintouch{
  margin: 10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:10px;
  color:white;
  background-color:black;
  font-size:18px;
    
    
    
}

.getintouch1{
    margin-top:40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:70px;
    padding-right:70px;
    border-radius:10px;
    color:white;
    background-color:black;
    font-size:20px;
    
}

.boxes{
    margin-top:300px;
}


.view-templates{
    margin-left: 20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
    color:white;
    background-color:black;
    font-size:18px;
    margin-bottom:100px;
}

.whatido{
    margin-top:150px;
    text-align:center;
    font-size:28px;
}

.whatido p{
    font-size:20px;
    text-align:center;
    margin-left:100px;
    margin-right:100px;

}

.whatidotemp{
    margin-top:100px;
    text-align:center;
}

.whatidotemp .container {
    display: flex;
    justify-content: space-between;
  }
  
.whatidotemp .box {
    flex: 1;
    background: white;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 100px 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
  }

  .box:hover {
    opacity: 0.8;
  }

  .aboutus p:nth-of-type(3){
      font-size:1rem;
      color:grey;
  }

  .aboutus{
      margin-top:300px;
      text-align:center;
      margin-left:100px;
      margin-right:100px;

  }

  .aboutus img{
      height:200px;
      width:200px;
  }

  .teams{
      margin-top:400px;
      margin-bottom:150px;
      text-align:center;
      font-size:18px;
      color:rgb(110, 109, 109);
  }
  
  .teams img{
      margin-top:50px;
      height:60px;
      width:650px;
  }

.testimonials{
    display:grid;
    margin-bottom:200px;
    margin-left:20px;
    margin-right:20px;
}

.testimonials .boxi{
    display:flex;
    background: white;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
  }

  .testimoni{
      margin-top:400px;
      margin-bottom:400px;
  }



.formbutton {
    background-color: black;
    color: white;
    padding:14px 5px;
    margin: 8px 8px;;
    border: none;
    cursor: pointer;
    border-radius:10px;
    width: 30%;
  }

  .form_group{
    margin: 20px 20px;
    font-size:20px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

.end img{
    margin-top:100px;
    margin-bottom:10px;
    height:120px;
    width:120px;
}


form{
    border: 3px solid #f1f1f1;
    border-radius:5px;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);

}

input[type=text],  input[type=email] {
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius:10px;
  }

  textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius:10px;
}

  .boy{
    float:left;
    width:50%;
  }

  .boxo{
      float:right;
      width:50%;
  }

  .end{
    float:left;
    width:50%;
  }

  .end img{
    height:100px;
    width:100px;
  }

  .end1{
      margin-top:100px;
      float:left;
      width:35%;
      font-size:15px;
  }
  .end2{
    margin-top:100px;
    float:right;
    width:15%;
    font-size:15px;
  }

  .boxi1{
    float:left;
    width:33.3%;
  }

  .boxi2{
      float:left;
      width:33.3%;
  }
  .boxi3{
    float:right;
    width:33.3%;
  }

  .endless{
      margin-top:400px;
      margin-bottom:200px;
      font-size:25px;
  }

