@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}


body {
    font-family: Helvetica;
}

body {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}



img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

@media (max-width: 1400px) {

ul {
  list-style-type: none;
}



.navbar {
  font-size: 15px;
  background: white;
  color: black;
  height: 100px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  position: fixed;
  margin-top: 0px;
  width: 100%;
  font-family:Helvetica;
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  font-family:Helvetica;
}

.navbar a {
  color: rgb(107, 104, 104);
  text-decoration: none;
  font-size: 20px;
  min-height: 400px;
}

.navbar a:hover {
  color:black;
}

.navbar .container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 60px;
}

.navbar .container .hamburger-menu{
  display:none;
}

.header {
  background-color: white;
  color: black;
  margin-top: 50px;
  min-height: 400px;
  font-family:Helvetica;
}

.header h1 {
  margin-top: 200px;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  min-height: 10px;
  letter-spacing:-1px!important;
}

.header p {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  margin-right:50px;
  padding-right:100px;
  opacity:80%;
}

.header img {
  margin-left: 0px;
  height: 350px;
  width: 350px;
  margin-top:120px;
  align-items: center;
}

.boxes h1 {
  text-align: left;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}


.box {

  flex: 1;
  background: white;
  color: black;
  flex-direction: column;
  padding: 25px 35px;
  transition: background .12s ease-in 0s;
  border-radius: 1rem;
    /* max-height: 64rem; */
  margin: 1.3rem;
  box-shadow: 0px 8px 24px rgb(149 157 165 / 20%);
  font-family:helvetica;
}

.box h3{
  align-items:center;
  opacity:80%;
  font-size:18.72px;
}

.box p{
  opacity:60%;
}

.box1a img {
  width: 300px;
  height: 300px;
}

.box1b img {
  width: 350px;
  height: 300px;
}

.box1c img {
  width: 300px;
  height: 300px;
}

.box1a {
  width: 33.3%;
  text-align: left;
}

.box1b {
  width: 33.3%;
  text-align: left;
}

.box1c {
  width: 33.3%;
  text-align: left;
}

.box i {
  margin-right: 10px;
}

.populartemplates {
  margin-left: 15px;
  text-align: left;
  font-family:Helvetica;
}

.getintouch {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 18px;

}

.getintouch1 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 20px;

}

.boxes {
  margin-top: 300px;
}


.view-templates {
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 18px;
  margin-bottom: 100px;
}

.whatido {
  font-size: 45px;
  letter-spacing: -1px!important;
  margin-bottom: 10px!important;
  font-family:Helvetica;
  margin-top: 150px;
  text-align: center;
  font-size: 28px;
}

.whatido p {
  font-size: 20px;
  text-align: center;

}

.whatidotemp {
  margin-top: 100px;
  text-align: center;
  font-family:Helvetica;
  font-size:1.4rem;
}

.whatidotemp .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.whatidotemp p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  opacity:70%;
  font-size:1.2rem;
}


.box:hover {
  opacity: 0.8;
}

.box1a:hover {
  opacity: 0.8;
}

.box1b:hover {
  opacity: 0.8;
}

.box1c:hover {
  opacity: 0.8;
}

.aboutus h1{
  font-size:35px;
}
.aboutus p:nth-of-type(3) {
  font-size: 14px;
  color: grey;
  padding:3px 2px;
}

.aboutus {
  margin-top: 300px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family:Helvetica;
  font-size:19px;
  letter-spacing:1px;
}


.aboutus img {
  height: 200px;
  width: 200px;
}

.teams {
  margin-top: 400px;
  margin-bottom: 150px;
  text-align: center;
  font-size: 18px;
  color: rgb(110, 109, 109);
}

.teams img {
  margin-top: 50px;
  height: 60px;
  width: 650px;
  object-fit:scale-down;
}

.testimonials {
  margin-bottom: 200px;
  margin-left: 20px;
  margin-right: 20px;
  font-family:Helvetica;
}


.testimonials .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-size:19px;
  font-family:Helvetica;
}

.testimoni {
  margin-top: 200px;
  font-family:Helvetica;
}

.testimoni h2{
  font-size:25px;
  font-weight:bold;
}

.testimoni p{
  font-size:19px;
  font-family:Helvetica;
  padding-right:150px;
}

.company{
  color:#717170;
  font-size:18px;

}



.formbutton {
  background-color: black;
  color: white;
  padding: 14px 2px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 30%;
}

.form_group {
  margin: 20px 20px;
  font-size: 20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.end img {
  margin-top: 100px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}


form {
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  border:none;
  box-shadow:rgb(149 157 165 / 20%) 0px 8px 24px;
  font-family:sans-serif;
  font-size:14px;
  padding:20px;
  width:100%;
}

.boxo label{
  font-family:sans-serif;
  font-size:14px;
  font-weight:bold;
}

.boxo #projectsummary{
  font-family:sans-serif;
  font-size:14px;
}

input[type=text],
input[type=email] {
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
  box-shadow:rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 7px;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
  box-shadow:rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 7px;
}

.boy {
  float: left;
  width: 50%;
}

.boxo {
  float: right;
  width: 50%;
  color:#37352f;
}

.endless .end {
  margin-top:0px;
  float: left;
  width: 50%;
  text-align: left;
}

.endless .end1 {
  margin-top: 100px;
  float: left;
  width: 35%;
  font-size: 15px;
  text-align: left;
}

.endless .end2 {
  margin-top: 100px;
  float: right;
  width: 15%;
  font-size: 15px;
  text-align: left;
}


.boxi1 {
  float: left;
  width: 33.3%;
}

.boxi2 {
  float: left;
  width: 33.3%;
}

.boxi3 {
  float: left;
  width: 33.3%;
}


.endless {
  margin-top: 400px;
  margin-bottom: 200px;
  font-size: 30px;
  font-family:Helvetica;
}

.endless h3{
  font-size: 30px;
  font-family:Helvetica;
}

.endless a{
  font-size: 18px;
  font-family:Helvetica;
  text-decoration:none;
}
.copyright {
  margin-bottom: 100px;
}
}



@media (max-width: 680px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .header .img{
    align-items:center;
    min-height:150px;
    min-width:150px;
    margin-left:-20px;
  }

  .header p{
    width:100%;
  }

  .getintouch1 {
    width: 100%;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .view-templates {
    width:90%;
  }

  .whatidotemp .container {
    display: block;
    flex-direction: column;
    padding-top: 20px;
    align-items:center;
    text-align: center;
    width: 100%;
  }

  .box1a,
  .box1b,
  .box1c {
    width: 100%;
  }

.testimonials{
  margin:left -40px right -40px;
}

  .testimonials .container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
    width: 300%;
    margin-bottom:-300px;
  }


  .testimonials .container .boxi1 {
    margin-bottom: 50px;
  }

  .testimonials .container .boxi2 {
    margin-bottom: 50px;
  }

  .testimonials .container .boxi3 {
    margin-bottom: 50px;
  }

  .testimoni .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
    display: flex;
    width: 200%;
    margin-bottom:-700px;
  }

  .endless {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aboutus p {
    margin-right: -50px;
    margin-left: -50px;
  }

  .aboutus img{
    min-width: 80px;
    height: auto;
    max-width:100%;
    object-fit:scale-down;
  }

  .whatido p {
    padding-right: -50px;
    padding-left: -50px;
  }

  .teams img{
    object-fit:scale-down;
  }

}


@media (max-width: 975px) {
  .navbar ul{
    display:none;
  }
  .navbar .container {
    display:flex;
    flex-direction:row;
  }
  
  .navbar .container .hamburger-menu{
    display:block;
  }
}

@media (max-width: 330px) {
  .navbar .container .getintouch{
    display:none;
  }
}

